@charset "utf-8";
@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box; font : inherit; color: inherit;}
a{text-decoration: none;}
ul,ol{list-style: none;}
img{max-width: 100%;}
html{font-size: 10px; scroll-behavior: smooth;}
body{font-size: 1.6rem; color: #fff; font-weight: 400;
    background-color: #1a1a1a;
    /* overflow-x: hidden;  */
}
/* custom  */
body.scrollfix{
    overflow: hidden;
}
.inner{max-width: 1440px; padding: 0 20px; width: 100%; position: relative; margin: 0 auto;}

@media screen and (max-width: 1024px){
    html{font-size: 9px;}
}
@media screen and (max-width: 768px){
    html{font-size: 8px;}
}

.title{
    text-align: center;
    position: relative;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 10rem;
    letter-spacing: 10px;
}
.title h2{
    display: inline-block;
    position: relative;
}