.header {
    width: 100%;
    height: 10rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 11;
    /* backdrop-filter: blur(10px); */
}
.header.active {
    /* border-bottom: 1px solid #ececec; */
}
.header .inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.header .inner .logo {
    height: 6rem;
}
.header .inner .logo a {
    height: 100%;
    display: block;
}
.header .inner .logo a img {
    height: 100%;
}
.header-menu {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    color: #FFA4EB;
}
.header-menu li {
    position: relative;
}
.header-menu li a {}
.header-menu li a i {}
/* 모바일 메뉴버튼 */
.mo-menu-btn {
    cursor: pointer;
    z-index: 11;
    display: none;
}

.mo-menu-btn .bar {
    width: 35px;
    height: 3px;
    background-color: #FFA4EB;
    position: relative;
}

.mo-menu-btn .bar:nth-child(2) {
    margin: 8px 0;
}

.mo-menu-btn.active .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 3px;
}

.mo-menu-btn.active .bar:nth-child(2) {
    display: none;
}

.mo-menu-btn.active .bar:nth-child(3) {
    transform: rotate(-45deg);
}

.side-menu {
    position: fixed;
    width: 100%;
    max-width: 400px;
    top: 0;
    right: -100%;
    height: 100vh;
    background-color: #fff;
    padding: 60px 0;
    font-size: 20px;
    transition: 0.3s;
}

.side-menu.active {
    right: 0;
}

.side-menu ul {}
.side-menu ul li {
    border-bottom: 1px solid #FFA4EB;
}
.side-menu ul li a {
    display: flex;
    padding: 30px;
    gap: 20px;
    align-items: center;
}

.side-menu ul li a i {
    color: #FFA4EB;
}

.side-menu ul li a i span {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .mo-menu-btn {
        display: block;
    }
}